annoy
bandit
black
checking
chime
diskcache
drawdata
embetter
embetter[all]
embetter[bpemb]
embetter[gensim]
embetter[sbert]
embetter[sense2vec]
embetter[spacy]
embetter[text]
embetter[vision]
flake8
gazpacho
gin-config
h5py
ipykernel
isort
jax
kagglehub
marimo
matplotlib
nbformat
numpy
pandas
parse
pdocs
pep8-naming
playwright
pre-commit
pydantic
pytest
pytest-cov
python-dotenv
questionary
ray
requests
rich
ruff
scikit-learn
streamlit
tqdm
typer
sympy
csvs-to-sqlite
datasette
datasette-vega
duckdb
