annoy
bandit
black
checking
chime
diskcache
drawdata
embetter
embetter[all]
embetter[bpemb]
embetter[gensim]
embetter[sbert]
embetter[sense2vec]
embetter[spacy]
embetter[text]
embetter[vision]
flake8
gazpacho
gin-config
ipykernel
isort
jax
matplotlib
nbformat
numpy
numpy
pandas
parse
pdocs
pep8-naming
playwright
pre-commit
pydantic
pytest
pytest-cov
python-dotenv
questionary
ray
requests
rich
ruff
scikit-learn
scikit-learn
streamlit
tqdm
typer
marimo
